title: CS10 Fall 2023
tagline: The Beauty and Joy of Computing
description: A gentle but thorough introduction to computer science.
author: Victoria Phelps
baseurl: /fa23 # the subpath of your site, e.g. /blog
url: https://cs10.org
exclude: ["Gemfile", "Gemfile.lock", "LICENSE", "README.md"]

logo: "./assets/images/bjc.png"

sass:
    load_paths:
        - _sass
        -  C:/Ruby31-x64/lib/ruby/gems/3.1.0/gems/bootstrap-5.2.3

# Theme settings
remote_theme: pmarsceill/just-the-docs@v0.3.3
color_scheme: dark
search_enabled: true
heading_anchors: true
permalink: pretty
aux_links_new_tab: true
ga_tracking: UA-47210910-1
external_navigation:
  - title: Lecture Recordings
    url: https://bcourses.berkeley.edu/courses/1528263/external_tools/78985
  - title: Ed Discussion
    url: https://edstem.org/us/courses/43356/discussion/
  - title: Gradescope
    url: https://www.gradescope.com/courses/579198
  - title: Snap!
    url: https://snap.berkeley.edu/snap
footer_content:

################################################
# Custom Data
bCourses: 1513042
labsCourse: cs10_fa21.html
ed_id: 18545
labsurl: https://cs10.org/

###### TODO: UPDATE THESE, CURRENTLY UNUSED
# This section controlls the interactive google calendar.
# Should be in MomentJS format
startDate: 2023-08-23 # First Sunday
endDate:   2023-12-08 # Last Saturday

# Change the calendar to show Sun-Sat instead of M-F when an exam is near
questDate: 2023-12-08
midtermDate: 2023-12-08
finalDate: 2023-12-08
# from console.developers.google.com
# This key can be public and is tied to a users calendar accesses
# whoever this key belongs to should have access to the CS10 galendars.
gcalAPIKey: AIzaSyBcbN6F79dPHiGMvftIKZB86A6Ki2eIKZs

###############################################
# Collections for website data
collections:
  staffers:
  modules:
  schedules:
  announcements:
# Default layouts for each collection type
defaults:
  - scope:
      path: ''
      type: staffers
    values:
      layout: staffer
      subpath: '/assets/images/'
  - scope:
      path: ''
      type: modules
    values:
      layout: module
  - scope:
      path: ''
      type: schedules
    values:
      layout: schedule
  - scope:
      path: ''
      type: announcements
    values:
      layout: announcement

compress_html:
  clippings: all
  comments: all
  endings: all
  startings: []
  blanklines: false
  profile: false

plugins:
  - jekyll-seo-tag

just_the_docs:
  collections:
