{% assign start_time = page.timeline | first %}
{% capture offset %}{% include minutes.liquid time=start_time %}{% endcapture %}

<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&title=CS10%20Sp23%20Schedule&mode=WEEK&src=Y19kYmRhYWIyYjdlMDY2MGU3NDMwNTVlNzMyYjAxYTk3MzNmMmM0ZjhiZDFjN2JiMmVlMTk1ODRlMTAwZmIxYjI5QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y18yNTFlOWI1MzY3NDQ2MGI2MzI5ZTExMDYzZGZiMDE2ZDAyMmQyODUwYWM0MjY5ODNmMzNiOTU0MWIxMzlkNThhQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y18wYjIwN2JmOWRhYzk3ZmY3NjE0MzRlMzRhMjBjYjNjNWRlZjVkOTRkNWEwMmI5MjUzMWE3OTYyYzM3NTVmMDAwQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y181N2VkNTIyZjNjMDdmOGM4ZGRhMmY2YjRjNWUxMjk5MWNkNGI1MzA3YmNmN2VlYWE2ODNkMDU0MDliODA1YmJiQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23C0CA33&color=%23B39DDB&color=%23616161&color=%23F09300" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<!-- <div class="schedule">
  <ul class="schedule-timeline" style="min-width: {{ page.schedule | size | times: 130 }}px">
    {% for time in page.timeline %}
    <li class="schedule-time">{{ time }} </li>
    {% endfor %}
  </ul>
  <ul class="schedule-group">
    {% for day in page.schedule %}
    <li class="schedule-day">
      <h2 class="schedule-header">{{ day.name }}</h2>
      {% if day.events %}
      <ul class="schedule-events" style="height: {{ page.timeline | size | times: 40 }}px">
      {% for event in day.events %}
        {% capture start %}{% include minutes.liquid time=event.start %}{% endcapture %}
        {% capture end %}{% include minutes.liquid time=event.end %}{% endcapture %}
        {% assign top = start | minus: offset | times: 40 | divided_by: 30 %}
        {% assign height = end | minus: start | times: 40 | divided_by: 30 %}
        <li class="schedule-event {% if event.class %}{{ event.class }}{% else %}{{ event.name | slugify }}{% endif %}"
            style="top: {{ top }}px; height: {{ height }}px;">
          <div class="name">{{ event.name }}</div>
          <div class="time">{{ event.start }}–{{ event.end }}</div>
          {% if event.location %}
          <div class="location">{{ event.location }}</div>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div> -->
